.cart-review {
  margin-top: 56px;
  overflow-y: auto;

  .media {
    background-color: #ffffff;
    padding: 10px 0;
    flex: 1;
    align-items: inherit;
    flex-flow: wrap;
    .thumb-img {
      width: 80px;
    }
    .media-body {
      position: relative;
      .btn-approved {
        float: right;
        padding: 10px;
        margin-right: 5%;
        border-radius: 50%;
      }
      &::after {
        //content: "";
        width: 30px;
        background: #f7f7f7;
        position: absolute;
        top: -10px;
        right: -30px;
        bottom: -10px;
        border-left: 1px solid #d8d8d8;
      }
      .content-center {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
      }
      strong {
        font-size: 18px;
        color: #000;
      }
      .green {
        color: #54b226;
        font-weight: 500;
      }
      .red {
        font-weight: 500;
        color: #ff690d;
      }
      p {
        margin-bottom: 5px;
        color: #666;
      }
      .icon-pos {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: -20px;
        color: #f3300f;
      }
      a {
        color: inherit;
      }
    }
  }

  .rc-swipeout {
    padding: 10px 0;
    margin: 10px 0;
    .rc-swipeout-actions {
      padding: 10px 0;
    }
  }
}
