.manager-dashboard {
  overflow-y: auto;
  background-color: #e8e5e5;
  padding-bottom: 15%;
  .rack-content {
    background-color: #ffffff;
    padding: 5% 0;
    border-bottom: 2px solid #e0e0e0;
    .rack-image {
      height: 100%;
      width: 110%;
    }
    .rack-location {
      display: flex;
      align-items: center;
      font-size: 18px;
    }
  }
}
