.manager-dashboard {
  overflow-y: auto;
  // background-color: #e8e5e5;
  padding-bottom: 15%;
  margin-top: 55px;
  .media-wrapper {
    margin-bottom: 10px;
    background: #fff;
    transition: all 0.3s;
    margin-top: 15px;
    background: #fffee8;
    .media-details-collapse {
      padding: 10px;
      margin: 10px 10px 0;
      border-radius: 5px;
      position: relative;
      bottom: 10px;
      border: 1px solid lightgray;
      background: #fff;
      p {
        margin-bottom: 5px;
        color: #000;
      }
    }
    &.active {
      .media {
        border-bottom: 0;
        background: #fffee8;
      }
      .media-body {
        &::after {
          background: transparent;
          border-left: 0;
        }
      }
      .fa-angle-down:before {
        content: "\f106";
    }
    }
  }
  .media {
    background-color: #ffffff;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    flex: 1;
    padding-right: 30px;
    align-items: inherit;
    flex-flow: wrap;
    .content-center {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
    }
    
    .thumb-img {
      width: 100px;
    }
    
    .media-body {
      position: relative;
      &::after {
        content: '';
        width: 30px;
        background: #f7f7f7;
        position: absolute;
        top: -10px;
        right: -30px;
        bottom: -10px;
        border-left: 1px solid #d8d8d8;
    }
      strong {
        font-size: 18px;
        color: #000;
        
      }
      .green {
        color: #54b226;
        font-weight: 500;
      }
      .red {
        font-weight: 500;
        color: #ff690d;
      }
      p{
        margin-bottom:5px;
        color: #666;
      }
      .icon-pos {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: -20px;
      }
      a {
        color : inherit;
      }
    }   
  }
}