.footer-row {
  min-height: 5%;
  background-color: #000000a6;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  .footer-row-inner {
    width: 100%;
    .footer-icons {
      color: #ffffff;
      margin: 12% 50%;
    }
    .footer-text {
      color: #ffffff;
      float: right;
      font-size: 10px;
      font-weight: 100;
      font-family: monospace;
    }
  }
}
