.footer-row {
  min-height: 5%;
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  .footer-row-inner {
    width: 100%;
    .footer-icons {
      color: #939292;
      margin: 12% 50%;
    }
    .fa {
      &:before {
        margin-left: 15%;
      }
    }
    .footer-text {
      float: right;
      font-size: 10px;  
      font-weight: normal;
      letter-spacing: 0px;
      color: #939292;
      font-family: monospace;
    }
  }
}
